html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(65, 65, 65);
    overflow-x: hidden;
    color: white;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    height: 3rem;
    position: fixed;
}

nav a {
    margin: auto;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

nav a:hover {
    color: rgb(255, 228, 196);
}

.aContainer {
    padding-top: 3rem;
}

.aContainer span {
    font-weight: normal;
}

.aContainer img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0 0 0.5rem;
    font-family: 'Kumbh Sans', sans-serif;
}

p, li {
    margin: 0 0 0 0.5rem;
    font-family: 'Open Sans', sans-serif;
}

.imgbr {
    height: 6rem;
}

.imgbr img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto 0 auto;
}

.kod {
    background-color: rgb(36, 36, 36);
    color: rgb(98, 140, 255);
    border-radius: 0.3rem;
    padding: 0 0.2rem 0 0.2rem;
}

.kod2 {
    color: rgb(128, 128, 128); 
}

#bContainer {
    margin-top: 4rem;
}

#bContainer img {
    width: 100%;
    height: auto;
}

footer {
    background-color: gray;
    height: auto;
    color: white;
    text-align: center;
    padding: 0.3rem;
}

